<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="currentId" th:content="${currentuser.getId()}"/>
    <title>users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<!--Навигационный бар-->
<nav class="navbar bg-dark sticky-top" data-bs-theme="dark" id="navbar">
    <a class="navbar-brand px-3" href="#">
        <strong th:text="${currentuser.email}"></strong> with roles:
        <span th:each="role : ${currentuser.getRoles()}">
            <span th:text="${role} + ' '"></span>
        </span>
    </a>
    <form th:action="@{/logout}" method="post" class="ms-auto">
        <button class="btn text-white-50">Logout</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!--Левая панель-->
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 250px;">
            <ul class="nav nav-pills flex-column mb-auto" id="myTab"
                role="tablist">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item" role="presentation">
                    <a href="#admin" class="nav-link active" id="admin-tab" data-bs-toggle="pill" role="tab"
                       aria-controls="admin" aria-selected="true" onclick="generateUsersDetails()">Admin</a>
                </li>
                <li>
                    <a th:classappend="${#authorization.expression('not hasRole(''ROLE_ADMIN'')')}  ? 'active' : ''"
                       class="nav-link" id="user-tab" data-bs-toggle="pill" href="#user" role="tab" aria-controls="user"
                       aria-selected="false" th:data-id="${currentuser.id}" onclick="generateUserInfo()">User</a>
                </li>
            </ul>
        </div>
        <!--Панель Админа-->
        <div class="tab-content" style="width: calc(100% - 250px);">
            <!--Вкладка Админа-->
            <div sec:authorize="hasRole('ADMIN')" class="tab-pane fade show active" id="admin" role="tabpanel"
                 aria-labelledby="admin-tab">
                <div class="col bg-body-tertiary" style="min-height: calc(100vh - 56px)">
                    <div class="p-3">
                        <h1>Admin panel</h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   aria-current="page"
                                   data-bs-toggle="tab"
                                   href="#users-table"
                                   role="tab"
                                   aria-controls="users-table"
                                   id="tab1">
                                    User table
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   data-bs-toggle="tab"
                                   href="#new-user"
                                   role="tab"
                                   aria-controls="new-user"
                                   id="tab2">
                                    New User
                                </a>
                            </li>
                        </ul>

                        <!-- Tabs content -->
                        <div class="tab-content" id="ex1-content">
                            <!--  Tab 1 content -->
                            <div class="tab-pane fade show active" id="users-table" role="tabpanel"
                                 aria-labelledby="users-table">
                                <div>
                                    <h4 class="p-3 border m-0">All users</h4>
                                    <div class="border bg-white">
                                        <table id="usersDetailsTable" class="table table-striped mx-auto my-3" style="width:95%">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--Tab 2 content -->
                            <div class="tab-pane fade" id="new-user" role="tabpanel"
                                 aria-labelledby="new-user">
                                <h4 class="p-3 border m-0">Add new user</h4>
                                <div class="bg-white border p-3">
                                    <div class="text-center w-25 mx-auto">
                                        <form>
                                            <div class="mb-3">
                                                <label for="new-user-first-name"
                                                       class="col-form-label text-center"><strong>First
                                                    Name</strong></label>
                                                <input id="new-user-first-name" type="text" class="form-control"
                                                       placeholder="First Name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new-user-last-name"
                                                       class="col-form-label text-center"><strong>Last
                                                    Name</strong></label>
                                                <input id="new-user-last-name" type="text" class="form-control"
                                                       placeholder="Last Name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new-user-age"
                                                       class="col-form-label text-center"><strong>Age</strong></label>
                                                <input id="new-user-age" type="number" class="form-control"
                                                       placeholder="Age">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new-user-email"
                                                       class="col-form-label text-center"><strong>Email</strong></label>
                                                <input id="new-user-email" type="text" class="form-control"
                                                       placeholder="Email">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new-user-password"
                                                       class="col-form-label text-center"><strong>Password</strong></label>
                                                <input id="new-user-password" type="password" class="form-control"
                                                        placeholder="Password">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new-user-roles"
                                                       class="col-form-label text-center"><strong>Role</strong></label>
                                                <select id="new-user-roles" class="form-select" multiple
                                                        aria-label="выбор роли"
                                                        name="role">
                                                    <th:block th:each="role : ${allRoles}">
                                                        <option th:value="${role.role}"
                                                                th:text="${role.toString()}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                            <div>
                                                <input class="btn btn-success" value="Add new user" onclick="addUser()"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Вкладка юзера-->
            <div th:classappend="${#authorization.expression('not hasRole(''ROLE_ADMIN'')')}  ? 'active show' : ''"
                 class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
                <div class="col bg-body-tertiary" style="min-height: calc(100vh - 56px)">

                    <div class="tab-pane fade show" id="user-info" role="tabpanel"
                         aria-labelledby="users-table">
                        <div class="p-3">
                            <h1>User information-page</h1>
                            <h4 class="p-3 border m-0">About user</h4>
                            <div class="border bg-white">
                                <table id="userInfoTable" class="table table-striped mx-auto my-3" style="width:95%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Модальное окно РЕДАКТИРОВАНИЯ пользователя-->
<div sec:authorize="hasRole('ADMIN')" class="modal fade" id="editUserModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body text-center w-75 mx-auto">
                <form id="user-form" th:action="@{/admin/{id}(id=${userId})}"
                      th:method="PATCH">
                    <div class="mb-3">
                        <label for="user-id" class="col-form-label text-center"><strong>ID</strong></label>
                        <input type="text" class="form-control" disabled readonly id="user-id">
                    </div>
                    <div class="mb-3">
                        <label for="user-first-name" class="col-form-label text-center"><strong>First
                            Name</strong></label>
                        <input type="text" class="form-control" id="user-first-name">
                    </div>
                    <div class="mb-3">
                        <label for="user-last-name" class="col-form-label text-center"><strong>Last
                            Name</strong></label>
                        <input type="text" class="form-control" id="user-last-name">
                    </div>
                    <div class="mb-3">
                        <label for="user-age" class="col-form-label text-center"><strong>Age</strong></label>
                        <input type="number" class="form-control" id="user-age">
                    </div>
                    <div class="mb-3">
                        <label for="user-email"
                               class="col-form-label text-center"><strong>Email</strong></label>
                        <input type="text" class="form-control" id="user-email">
                    </div>
                    <div class="mb-3">
                        <label for="user-password"
                               class="col-form-label text-center"><strong>Password</strong></label>
                        <input type="password" class="form-control" id="user-password">
                    </div>
                    <div class="mb-3">
                        <label for="user-roles" class="col-form-label text-center"><strong>Role</strong></label>
                        <select id="user-roles" class="form-select" multiple aria-label="выбор роли"
                                name="role">
                            <th:block th:each="role : ${allRoles}">
                                <option th:value="${role.role}" th:text="${role.toString()}"></option>
                            </th:block>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="editeCloseButton">Close</button>
                <button type="button" class="btn btn-primary" onclick="editUser()">Edit</button>
            </div>
        </div>
    </div>
</div>

<!--Модальное окно УДАЛЕНИЯ пользователя-->
<div sec:authorize="hasRole('ADMIN')" class="modal fade" id="deleteUserModal" tabindex="-1"
     aria-labelledby="deleteUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteUserModalLabel">Delete user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body text-center w-75 mx-auto">
                <form id="delete-form" th:action="@{/admin/{id}(id=${userId})}"
                      th:method="DELETE">
                    <div class="mb-3">
                        <label for="user-did" class="col-form-label text-center"><strong>ID</strong></label>
                        <input type="text" class="form-control" disabled readonly id="user-did">
                    </div>
                    <div class="mb-3">
                        <label for="user-first-dname" class="col-form-label text-center"><strong>First
                            Name</strong></label>
                        <input type="text" class="form-control" disabled readonly id="user-first-dname">
                    </div>
                    <div class="mb-3">
                        <label for="user-last-dname" class="col-form-label text-center"><strong>Last
                            Name</strong></label>
                        <input type="text" class="form-control" disabled readonly id="user-last-dname">
                    </div>
                    <div class="mb-3">
                        <label for="user-dage" class="col-form-label text-center"><strong>Age</strong></label>
                        <input type="text" class="form-control" disabled readonly id="user-dage">
                    </div>
                    <div class="mb-3">
                        <label for="user-demail"
                               class="col-form-label text-center"><strong>Email</strong></label>
                        <input type="text" class="form-control" disabled readonly id="user-demail">
                    </div>
                    <div class="mb-3">
                        <label for="user-droles"
                               class="col-form-label text-center"><strong>Role</strong></label>
                        <select id="user-droles" class="form-select" disabled readonly multiple
                                aria-label="выбор роли" name="role"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeButton" >Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<script sec:authorize="hasRole('ADMIN')" src="/scripts/adminScript.js"></script>
<script src="/scripts/userScript.js"></script>

</body>
</html>